

.Landing-grid {
background:#0D1020;

  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text{
  background:#0D1020;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 45px;

  color: white;
  font-family: 'Fira Mono', monospace;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 15px;
  padding: 1em;
  text-align: center;
  font-family: 'Fira Mono', monospace;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
color:white;
font-size: 3em;
padding: 8px;

}

.nav-bar {
font-family: 'Fira Mono', monospace;
  font-size: 20px;
  font-weight: bold;
  color: #000000;

}

.projects-grid {
  display: flex;
  width: 100%;
  height: 600px;
   position: relative;
    margin: auto;
    background: #0D1020;
}

.contact-body {
  margin:auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  color: white;

}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: white;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Fira Mono', monospace;
  color: white;
}

.contact-grid p{
  font-family: 'Fira Mono', monospace;
  font-weight: bold;
  color: white;
}

.contact-grid hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  color: white;
}

.contact-list i{
  color: white;
  font-size: 66px;
  padding-right: 5rem;
}

div.mdl-card__supporting-text {
  justify-content: center;
  text-align: center;
}

div.mdl-card__actions {
  text-align: center;
}
nav.mdl-navigation.mdl-navigation_link {
display: block;
color: black;
line-height: 64px;
padding: 0 24px;
}

.mdl-layout__header-row .mdl-navigation__link {
  font-family: 'Fira Mono', monospace;
}

.mdl-layout__header.mdl-layout__header--scroll.header-color {
  background:#0D1020;
}

.mdl-layout-title {
  color: #0D1020;
  font-weight: bold;
  font-family: 'Fira Mono', monospace;
}


.mdl-layout__drawer-button {
  color: black;
  background: #0D1020;
}

div.mdl-grid {
  background: #0D1020;
}

div.mdl-tabs__tab-bar {
  background: #0D1020;
}

div.contact-body {
  background: #0D1020;
}

span.mdl-list__item-primary-content {
  color: white;
  justify-content: center;
}

ul.mdl-list {
  justify-content: center;
  padding-top: 40px;
}

i.fa.fa-phone-square {
  font-size: 60px;
}

i.fa.fa-envelope {
  font-size: 53px;

  position: relative;
  padding-left: 1.3em;
}


.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  font-family: 'Fira Mono', monospace;
  font-size: 18px;
}

div.mdl-tabs__tab-bar {
  text-transform: lowercase;
}

div.mdl-card__supporting-text {
  color: rgba(0,0,0, 0.54);
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    line-height: 30px;
    overflow: hidden;
    padding-top: .2px;
    padding-bottom: .2px;
    margin-bottom: 10px;
    width: 90%;
    font-family: 'Fira Mono', monospace;
}

.email {
  color: white;
}
